{% extends "baseGeneral.html" %}

{% block title %} Dashboard {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">{{ name }} - Dashboard</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">

						<div class="card-header">
							<h5>Progress Report</h5>
							<div class="card-header-right">
								<div class="btn-group card-option">
									<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="feather icon-more-horizontal"></i>
									</button>
									<ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
										<li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
										<li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<h3>Gaze</h3>
							<div id='chartGaze' class='chartGaze'></div>
							<h3>Posture</h3>
							<div id='chartPosture' class='chartPosture'></div>
							<h3>Volume</h3>
							<div id='chartVolume' class='chartVolume'></div>
							<h3>Articulation Rate</h3>
							<div id='chartSpeed' class='chartSpeed'></div>
							<h3>Filled Pauses</h3>
							<div id='chartFp' class='chartFp'></div>
							<h3>Font Size</h3>
							<div id='chartFs' class='chartFs'></div>
							<h3>Text Length</h3>
							<div id='chartTl' class='chartTl'></div>

						</div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphGaze = {{figGaze | safe}};
  Plotly.plot('chartGaze',graphGaze,{},{responsive: true});
  var graphPosture = {{figPosture | safe}};
  Plotly.plot('chartPosture',graphPosture,{},{responsive: true});
  var graphVolume = {{figVolume | safe}};
  Plotly.plot('chartVolume',graphVolume,{},{responsive: true});
  var graphSpeed = {{figSpeed | safe}};
  Plotly.plot('chartSpeed',graphSpeed,{},{responsive: true});
  var graphFp = {{figFp | safe}};
  Plotly.plot('chartFp',graphFp,{},{responsive: true});
  var graphFs = {{figFs | safe}};
  Plotly.plot('chartFs',graphFs,{},{responsive: true});
  var graphTl = {{figTl | safe}};
  Plotly.plot('chartTl',graphTl,{},{responsive: true});



</script>
{% endblock javascripts %}
