
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item">
					    <a href="/reports" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-layers"></i></span><span class="pcoded-mtext">Reports</span></a>
					</li>
					<li class="nav-item">
					    <a href="/presentation" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-plus"></i></span><span class="pcoded-mtext">New Practice</span></a>
					</li>

					<li class="nav-item pcoded-menu-caption">
						<label>Action zone</label>
					</li>
					<li class="nav-item">
					    <a href="{{ url_for('auth.logout') }}"
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Logout</span></a>
					</li>
					<li class="nav-item">
					    <a href="{{ url_for('main.controls') }}"
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Hardware Controls</span></a>
					</li>
					<li class="nav-item">
					    <a target="_blank" rel="noopener" href="https://wp.nyu.edu/augment_ed/"
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-info"></i></span><span class="pcoded-mtext">Support</span></a>
					</li>

				</ul>
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
